.box-slider{
    height: 100%;
}

.box-slider .carousel-inner{
    height: 100%;
}

.first-section {
    position: relative;
    overflow: hidden;
    height: 100%;
    vertical-align: middle;
    background-image: url('https://images.unsplash.com/photo-1569511166187-97eb6e387e19?w=1750');
}

.first-section::before {
    content: "";
    position: relative;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    display: block;
    background: rgba(0,0,0,0.5);
}

.first-section h2 {
    color: #ffffff;
    font-size: 68px;
    font-weight: 300;
    text-transform: capitalize;
    display: block;
    margin: 0;
    padding: 0 0 30px;
    position: relative;
}

.first-section h2 strong{
    color: #c76700;
}

.first-section .lead {
    font-size: 21px;
    font-weight: 300;
    padding: 0 0 40px;
    margin: 0;
    line-height: inherit;
    color: #ffffff;
}

.box-slider .first-section{
    display: table;
    position: relative;
    width: 100%;
}

.dtab{
    display: table-cell;
    vertical-align: middle;
}

#carouselExampleControls{
    position: absolute;
    top:0;
    left:0;
    width: 100vw;
    height: 100vh;
}

.carousel-indicators{
    margin-bottom: 60px;
}